<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Confirmed Date</th>
            <th>Comments</th>
        </thead>
        <tbody>
            <tr th:each="rsvp : ${rsvps}">
                <td th:text="${rsvp.fullName}"></td>
                <td th:text="${rsvp.email}"></td>
                <td th:text="${rsvp.phone}"></td>
                <td th:text="${rsvp.confirmationDate}"></td>
                <td th:text="${rsvp.comments}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>